@import "tailwindcss";

@theme {
  --color-agency-dark: #2B2E31;
  --color-agency-gray: #7F817D;
  --color-agency-cream: #EAE2CA;
  --color-agency-light: #F1F1F1;
  
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-agency-dark);
  color: var(--color-agency-light);
}